.about-section {
    padding-top: 39px;
    margin-bottom: 54px;
}

.about-section__title {
    margin-bottom: 34px;
}

.about-section__caption {
    margin-bottom: 41px;
}

.about-section__text-wrap {
    margin-bottom: 41px;
}

.about-section__description {
    &:not(:last-child) {
        margin-bottom: 28px;
    }
} 

.about-section__scheme {
    width: 284px;
    height: 100%;
    margin: 0 auto;
}

