.about-section {
    padding-top: 39px;
    margin-bottom: 54px;
    position: relative;
    &.decorative-lines {
        &::before,
        &::after {
            @media(max-width: 749px) {
                display: none;
            }
        }
    }
    @media(min-width: 750px) {
        padding-top: 52px;
        margin-bottom: 141px;
    }
    @media(min-width: 1170px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 108px;
    }
}

.about-section__title-wrap {
    @media(min-width: 1170px) {
        max-width: 515px;
    }
}

.about-section__title {
    margin-bottom: 34px;
    @media(min-width: 750px) {
        margin-bottom: 58px;
    }
}

.about-section__caption {
    margin-bottom: 41px;
    @media(min-width: 750px) {
        margin-bottom: 35px;
    }
    @media(min-width: 1170px) {
        max-width: 356px;
    }
}

.about-section__text-wrap {
    margin-bottom: 41px;
    @media(min-width: 750px) {
        margin-bottom: 52px;
    }
}

.about-section__description {
    &:not(:last-child) {
        margin-bottom: 28px;
    }
} 

.about-section__scheme {
    display: flex;
    justify-content: center;
    height: 100%;
}

.about-section__scheme-img {
    @media(max-width: 719px) {
        width: 284px;
        height: 683px;
    }
    @media(min-width: 720px) and (max-width: 1169px) {
        width: 714px;
        height: 451px;
    }
}
