.banner-section {
    background-image: url("../img/banner-img.png");
    &.container {
        background-color: #8d3cd8;
    }
}

.banner-section__banner-wrap {
    width: 320px;
    height: 791px;
}

/*.banner-section__banner-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-55%);
}*/

.banner-section__slogan,
.banner-section__caption,
 {
    display: block;
}