.decorative-lines {
    &::before {
        position: absolute;
        content: "";
        bottom: -153px;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 83px;
        background-color: $application-form;
        z-index: 10;
    }
    &::after {
        position: absolute;
        content: "";
        bottom: -203px;
        left: 51%;
        transform: translateX(-50%);
        width: 2px;
        height: 83px;
        background-color: $application-form;
        z-index: 10;
    }
}

.button {
    @extend %borderless-btn;
    display: block;
    width: 100%;
    padding: 15px 0;
    border-radius: 24px;
    background-color: $button-color;
    outline-color: $button-color;
    &:hover,
    &:focus {
        box-shadow: inset 1px 1px 25px 2px grey;
    }
}

.button-wrap {
    display: flex;
    width: 224px;
    height: 14px;
    margin: 0 auto;
    @media(min-width: 750px) {
        margin: 0;
    }
    @media(min-width: 1170px) {
        margin-right: 59px;
    }
}

.slider-button {
    @extend %borderless-btn;
    width: 91px; 
    padding-top: 10px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    outline-color: $button-color;
    &.button-prev {
        background-image: url("../img/btn-prev.svg");
        margin-right: 43px;    
    }
    &.button-next {
        background-image: url("../img/btn-next.svg");
    }
}

.title {
    font-family: "Muller", sans-serif;
    font-size: 2.143em;
    color: $title-color;
}

.caption {
    display: block;
    font-family: "Muller",sans-serif;
    font-size: 1.714em;
    line-height: 30px;
    font-weight: 500;
    color: $caption-color;
    @media(min-width: 750px) {
        font-size: 2.230em;
        line-height: 36px;
    }
}

.application-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    @media(min-width: 1170px) {
        flex-direction: row;
        width: 100%;
    }
    .visually-hidden {
        position: absolute;
    }
}

.application-form__text,
.application-form__request {
    line-height: 30.1px;
}

.application-form__text {
    font-size: 1.143em;
}

.application-form__request {
    display: block;
    max-width: 180px;
    font-size: 1.429em;
    font-weight: 600;
    margin-bottom: 18px;
    @media(min-width: 1169px) {
        max-width: 100%;
    }
    @media(min-width: 1170px) {
        margin-bottom: 32px;
    }
}

.application-input {
    border: none;
    padding: 12px 14px;
    width: 100%;
    max-width: 289px;
    outline-color: $button-color;
    &.name {
        @media(min-width: 1170px) {
            margin-right: 38px;
        }
    }
    &.phone {
        @media(min-width: 1170px) {
            margin-right: 48px;
        }
    }
}

.footer-text {
    font-size: 0.929em;
    color: $placeholder-color;
    opacity: 0.7;
}

