.comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 62px;
    .button-wrap {
        margin: 0;
        align-self: center;
        @media(min-width: 600px) {
            align-self: flex-start;
        }
    }
    @media(min-width: 750px) {
        align-items: baseline;
        margin-bottom: 85px;
    }
    @media(min-width: 1170px) {
        margin-bottom: 125px;
    }
}

.comments-section__title {
    margin-bottom: 34px;
    align-self: flex-start;
    @media(min-width: 500px) {
        margin-bottom: 64px;
    }
    @media(min-width: 1170px) {
        margin-bottom: 84px;
    }
}

.comments__slider-item-wrap {
    position: relative;
    width: 844px;
    height: 264px;
}

.comments__slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 61px 25px 49px 18px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s;
    &.showed {
        opacity: 1;
    }
    @media(min-width: 568px) {
        flex-direction: row;
    }
    @media(min-width: 700px) {
        max-width: 718px;
        padding: 61px 55px 57px 55px;
    }
    @media(min-width: 1170px) {
        max-width: 100%;
        padding: 59px 73px 54px;
    }
}

.comments__img-wrap {
    position: relative;
    width: 136px;
    height: 136px;
    padding-top: 8px;
    margin-right: 38px;
    @media(max-width: 600px) {
        padding-top: 0;
    }
    @media(min-width: 700px) {
        margin-right: 50px;
    }
    @media(max-width: 749px) {
        flex-shrink: 0;
    }
}

.comments__img {
    position: absolute;
    margin: 0 auto;
}

.comments__comment-wrap {
    @media(min-width: 750px) {
        max-width: 450px;
    }
    @media(min-width: 1170px) {
        max-width: 512px;
    }
}

.comments__description {
    margin-bottom: 45px;
    @media(min-width: 600px) {
        margin-bottom: 12px;
    }
    @media(min-width: 1170px) {
        margin-bottom: 5px;
    }
}

.comments__author {
    font-size: 1.120em;
    color: $caption-color;
    line-height: 30.1px;
}

.comments__link {
    text-decoration: none;
    color: $link-color;
    &:link {
        color: $link-color;
    }
    &:hover {
        text-decoration: underline;
    }
    &:focus {
        color: #551A8B;
        text-decoration: underline;
    }
}