.FAQ-section {
    position: relative;
    margin-bottom: 84px;
    @media(min-width: 750px) {
        margin-bottom: 103px;
    }
    &.decorative-lines {
        &::before {
            z-index: 12;
            @media(min-width: 320px) {
                display: none;
            }
            @media(min-width: 750px) {
                display: block;
                left: auto;
                right: 182px;
                bottom: -130px; 
            }
            @media(min-width: 1170px) {
                left: 50%;
                bottom: -126px;
            }
        }
        &::after {
            z-index: 12;
            @media(min-width: 320px) {
                display: none;
            }
            @media(min-width: 750px) {
                display: block;
                left: auto;
                right: 172px;
                bottom: -170px;
            }
            @media(min-width: 1170px) {
                left: 51%;
                bottom: -168px;
            }  
        }    
    }
}

.FAQ-section__title {
    line-height: 38px;
    margin-bottom: 42px;
    @media(min-width: 1170px) {
        margin-bottom: 57px;
    }
}

.FAQ-section__list {
    @include ul-style();
    margin-bottom: 56px;
    @media(min-width: 750px) {
        margin-bottom: 56px;
    }
    @media(min-width: 900px) {
        max-height: 540px;
        height: 465px;  /*for IE11*/
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media(min-width: 1170px) {
        margin-bottom: 20px;
    }
}

.FAQ-section__item {
    &:not(:last-child) {
        margin-bottom: 35px;
    }
    @media(min-width: 900px) {
        max-width: 400px;
        margin-bottom: 45px;
        margin-right: 30px;
    }
    @media(min-width: 1170px) {
        max-width: 552px;
        margin-right: 40px;
    }
}

.FAQ-section__question {
    font-size: 1.429em;
    font-weight: 600;
    color: $caption-color;
    margin-bottom: 20px;
    line-height: 30px;
}
.application {
    &--purple {
        position: relative;
        max-width: 289px;
        margin: 0 auto;
        box-shadow: 0 23px 32px rgba(81, 8, 86, 0.33);
        border-radius: 10px;
        padding: 40px 21px 56px 24px;
        background-color: $application-form;
        @media(min-width: 750px) {
            max-width: 100%;
            margin: 0;
            padding: 40px 31px 20px;
            background-image: url("../img/appl_bg.png");
            background-repeat: no-repeat;
            background-position: 100% 100%; 
        }
        @media(min-width: 1170px) {
            padding: 40px 31px 6px 305px;
            background-image: url("../img/appl-bg_1170.png");

        }
        &::before {
            position: absolute;
            content: "";
            top: -12%;
            right: -22%;
            width: 158px;
            height: 147px;
            background-image: url("../img/qstn.png");
            @media(min-width: 750px) {
                background-image: url("../img/qstn_750.png");
                width: 241px;
                height: 219px;
                top: -28%;
                right: -4%;
            }
            @media(min-width: 1170px) {
                top: 0;
                left: 30px;
            }
        }
        .application-form__text,
        .application-form__request {
            color: $placeholder-color;
        }
        .application-form__request {
            @media(min-width: 750px) {
                max-width: 100%;
            }
        }
    }
}

.application-form_purple {
    @media(min-width: 750px) {
        flex-direction: row;
        justify-content: space-between;
    }
    @media(min-width: 1170px) {
        justify-content: stretch;
    }
    .application-input {
        @include placeholder;
        background-color: transparent;
        color: $placeholder-color;
        border-bottom: 1px solid $input-underline;
        &.name {
            margin-bottom: 26px;
            @media(min-width: 750px) {
                max-width: 29%;
            }
        }
        &.phone {
            margin-bottom: 40px;
            @media(min-width: 750px) {
                max-width: 26%;
            }
        }
        
    }
    .application-form__button {
        max-width: 245px;
        z-index: 10;
        @media(min-width: 750px) {
            max-width: 192px;
        }
    }
}