.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    background-color: $container-bg;
    @media(min-width: 1170px) {
        background-image:  linear-gradient(-45deg, rgb(160,68,255) 0%, rgb(106,48,147) 100%);
    }
}

.header__button {
    @extend %borderless-btn;
    width: 25px;
    height: 16px; 
    display: block;
    padding: 0;
}

.header__logo {
    font-family: "Open Sans";
    font-size: 1.286em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    color: #ffffff;
}

.header__menu-wrap {
    width: 25px;
    height: 16px;
}