.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    background-color: #8d3cd8;
}

.header__button {
    @extend %borderless-btn; 
}

.header__logo {
    font-family: "Open Sans";
    font-size: 1.286em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.header__menu-wrap {
    width: 25px;
    height: 16px;
}