.header {
    position: relative;
    padding-top: 24px;
    background-color: $container-bg;
    @media(min-width: 320px) {
        padding-bottom: 10px;
    }
    @media(min-width: 750px) {
       padding-bottom: 18px;
    }
    @media(min-width: 1170px) {
        line-height: 32px;
        padding-top: 61px;
        padding-bottom: 60px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(min-width: 1170px) {
            justify-content: unset;
        }
    }
}

.header__main-nav {
    display: flex;
}

.header__nav-list {
    display: flex;
    @include ul-style();
    margin-right: 75px;
    @media(min-width: 320px) and (max-width: 1169px) {
        display: none;
    }
    &.show-nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        min-height: 331px;
        left: 50%;
        transform: translateX(-50%);
        top: 48px;
        z-index: 10;
        margin-right: 0;
        background-color: rgba(141, 60, 216, 10);
        @media(min-width: 456px) {
            min-height: 519px;
        }
        @media(min-width: 900px) {
            display: none;
        }
    }
}

.header__nav-item {
    &:hover,
    &:focus {
        border-bottom: 1px solid $placeholder-color;
        @media(min-width: 320px) and (max-width: 1169px) {
            font-weight: 700;
        }
    }
}

.header__nav-item:not(:last-child) {
    @media(min-width: 1170px) {
       margin-right: 54px;
    }
}

.header__nav-link {
    display: block;
    font-size: 0.929em;
    height: 100%;
    color: $placeholder-color;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    cursor: pointer;
}

.header__phone-block {
    display: flex;
    @media(min-width: 320px) and (max-width: 1169px) {
        display: none;
    }
}

.phone-button {
    @extend %borderless-btn;
    font-size: 0.786em;
    border: 2px solid #ffffff;
    border-radius: 17px;
    padding: 9px 22px;
    &:hover {
        background-color: $button-color; 
    }   
}

.header__phone-link {
    text-decoration: none;
    margin-right: 33px;
    &:hover,
    &:focus {
        border-bottom: 1px solid $placeholder-color;
    }
}

.header__phone {   
    display: block;
    height: 100%;
    font-size: 1.143em;
    font-weight: 700;
    text-transform: uppercase;
    color: $placeholder-color;
    letter-spacing: 0.8px;
}

.header__button {
    @extend %borderless-btn;
    width: 25px;
    height: 16px; 
    display: block;
    padding: 0;
    @media(min-width: 1170px) {
        display: none;
    }
}

.header__logo {
    font-family: "Open Sans";
    font-size: 1.286em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    color: #ffffff;
    @media(min-width: 1170px) {
        margin-right: 135px;
    }
}

.header__menu-wrap {
    width: 25px;
    height: 16px;
}