.services-section {
    margin-bottom: 34px;
    @media(min-width: 750px) {
        margin-bottom: 75px;
    }
}

.service {
    &:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        padding-bottom: 73px;
        @media(min-width: 750px) {
            padding-bottom: 23px;
        }
        .service__caption {
            &::before {
                content: "1";
            }
        }
    }
    &:not(:nth-of-type(1)) {
        padding-top: 73px;
        @media(min-width: 750px) {
            padding-top: 112px;
        }
    }
    &:nth-of-type(2) {
        position: relative;
        padding-bottom: 251px;
        @media(min-width: 750px) {
            padding-bottom: 396px;
        }
        &::after {
            position: absolute;
            content: "";
            width: 282px;
            height: 355px;
            bottom: 8%;
            right: 0;
            background-image: url("../img/interior.jpg");
            background-repeat: no-repeat;   
            @media(min-width: 750px) {
                background-image: url("../img/interior_750.jpg");
                width: 546px;
                height: 640px;
                top: 19%;
            }      
        }
        .service__caption {
            &::before {
                content: "2";
                color: #ffffff;
            }
        }
    }
    &:not(:nth-of-type(2)) {
        background-color: $service-bg;
        .service__caption {
            &::before {
                color: $service-bg;
            }
        }
    }  
    &:nth-of-type(3) {
        position: relative;
        padding-bottom: 58px;
        @media(min-width: 750px) {
            padding-bottom: 73px;
        }
        .service__caption {
            margin-bottom: 56px;
            &::before {
                content: "3";
            }
        }
        &.purple-lines {
            &::before,
            &::after {
                @media(max-width: 749px) {
                    display: none;
                }
            }
            &::before {
                top: -63px;
            }
            &::after {
                top: -16px;
            }
        }
    }
}

.services-section__title {
    padding-bottom: 45px;
    padding-top: 68px;
    background-color: $service-bg;
    @media(min-width: 750px) {
        padding-top: 79px;
        padding-bottom: 66px;
    }
}

.service__caption {
    position: relative;
    margin-bottom: 49px;
    z-index: 10;
    @media(min-width: 664px) {
        font-size: 2.286em;
        max-width: 445px;
        margin-bottom: 66px;
    }
    &::before {
        content: "1";
        position: absolute;
        font-family: "Muller", sans-serif;
        font-size: 200px;
        text-shadow: 0 0 21px rgba(81, 8, 86, 0.08);
        top: 16px;
        left: 31px;
        font-weight: 800;
        z-index: -1;
        color: grey;
        @media(min-width: 664px) {
            top: 12px;
        }
    }
}

 /* First section */
.service__wrap {
    margin-bottom: 38px;
    @media(min-width: 750px) {
        margin-bottom: 51px;
    }
}

.service__list {
    padding-left: 20px;
    margin: 0;
    @media(min-width: 697px) {
        position: relative;
        z-index: 10;
    }
}

/* slider */
.service__slider {
    min-width: 292px; 
    margin-bottom: 43px;
    @media(min-width: 750px) {
        margin-bottom: 16px;
    }
}

.service__img-wrap {
    position: relative;
    height: 188px;
    width: 292px;
    margin: 0 auto 18px;
    box-shadow: 0 20px 46px rgba(80, 9, 79, 0.35);
    background-color: $slide-color;
    border-radius: 10px;
    @media(min-width: 460px) and (max-width: 749px) {
        width: 430px;
        height: 264px;
    }
    @media(min-width: 750px) and (max-width: 1169px) {
        width: 690px;
        height: 462px;
        margin-bottom: 42px;
    }
    @media(min-width: 1170px) {
        width: 572px;
        height: 462px;
        margin-bottom: 42px;
    }

    img {
        position: absolute;
        left: 0;
        opacity: 0;
        border-radius: 10px;
        transition: opacity 1s;
        &.showed {
            opacity: 1;
            border-radius: 10px;
        }
        @media(max-width: 429px) {
            width: 292px;
            height: 188px;
        }
        @media(min-width: 460px) and (max-width: 749px) {
            width: 430px;
            height: 264px;
        }
        @media(min-width: 750px) and (max-width: 1169px) {
            width: 690px;
            height: 462px;
        }
        @media(min-width: 1170px) {
            width: 572px;
            height: 462px;
        }
    }
}

.service__slide-nav-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @media(min-width: 750px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 690px;
        max-height: 36px;
        margin-bottom: 15px;
    }
    @media(min-width: 1170px) {
        justify-content: flex-end;
        max-width: 572px;
    }
}

.service__slide-description {
    font-size: 0.929em;
    margin-bottom: 27px;
    display: block;
    @media(min-width: 340px) {
        align-self: center;
    }
}

/* consultation */
.consult-block__wrap {
    @media(min-width: 750px) {
        min-width: 690px;
        margin: 0 auto;
    }
}
.service__consult-block {
    display: flex;
    flex-direction: column;
    padding: 34px 24px 30px;
    box-shadow: 0 23px 32px rgba(81, 8, 86, 0.33);
    border-radius: 10px;
    background-color: $application-form; 
    color: #ffffff;
    @media(min-width: 540px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    @media(min-width: 750px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 34px 32px;
    }
}

.consult-block__text-wrap {
    display: flex;
    flex-direction: column;
    @media(min-width: 750px) {
        flex-direction: row;
    }
}

.consult-block__text {
    display: block;
    margin-bottom: 7px;
    @media(min-width: 540px) {
        margin-bottom: 0;
    }
    @media(min-width: 750px) {
        margin-right: 36px;
    }
}

.consult-block__request {
    font-size: 1.143em;
    font-weight: 600;
    margin-bottom: 32px;
    @media(min-width: 540px) {
        margin-bottom: 0;
    }
}

.consult-block__button {
    width: 242px;
    height: 48px;
}

/* second section */
.service__print {
    position: relative;
    margin-bottom: 47px;
    z-index: 10;
    @media(min-width: 750px) {
        max-width: 547px;
    }
}

.service__button {
    position: relative;
    z-index: 10;
    max-width: 289px;
    @media(min-width: 750px) {
        max-width: 241px;
    }
}

/* third section */
.service__description {
    @media(min-width: 664px) {
        position: relative;
        z-index: 10;
    }
    &:nth-of-type(1) {
        margin-bottom: 32px;
    }
    &:nth-of-type(2) {
        margin-bottom: 28px;
    }
}

.application-wrap {
    display: flex;
    flex-direction: column;
    @media(min-width: 400px) {
        align-items: center;
    }
    @media(min-width: 600px) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    @media(min-width: 750px) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.service__img-wrap-envelopes {
    position: relative;
    width: 304px;
    height: 255px;
    margin-bottom: 43px;
    @media(min-width: 600px) {
        margin-bottom: 0;
    }
    @media(min-width: 750px) {
        width: 365px;
        height: 381px;
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        width: 304px;
        height: 255px;
        background-image: url("../img/envelopes.png");
        background-repeat: no-repeat;
        @media(min-width: 600px) {
            left: 8%;
        }
        @media(min-width: 750px) {
            background-image: url("../img/envelopes_750.png");
            width: 365px;
            height: 381px;
        }
    }
}

.service__form-wrap {
    position: relative;
    @media(min-width: 400px) {
        width: 241px;
    }
    @media(min-width: 750px) {
        &::after {
            position: absolute;
            content: "";
            left: -61%;
            bottom: 0;
            width: 502px;
            height: 287px;
            background-image: url("../img/paper-plane.png");
        }
    }

}

.application-form_white {
    .application-form__text,
    .application-form__request {
        color: $caption-color;
    }
    .application-input {
        @include placeholder ($color: $input-color);
        border-bottom: 1px solid $input-underline;
        background-color: $service-bg;
        outline-color: $input-underline;
        &.name {
            margin-bottom: 23px;
        }
        &.phone {
            margin-bottom: 40px;
            @media(min-width: 750px) {
                margin-bottom: 34px;
            }
        }
        @media(min-width: 750px) {
            max-width: 240px;
        }
    }
    .application-form__button {
        max-width: 289px;
        @media(min-width: 750px) {
            max-width: 240px;
        }
    }
}

