.visually-hidden:not(:focus):not(:active) {

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans", "Muller", "Arial", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

%borderless-btn {
  font-size: 1.143em;
  font-weight: 700;
  letter-spacing: 0.57px;
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
}

.button {
  @extend %borderless-btn;
}