$base-text: #5e606a;
$container-bg: #8d3cd8;
$button-color: #fb0275;
$title-color: #7f38bd;
$caption-color: #383d52;
$service-bg: #faf8fb;
$slide-color: #ebebeb;
$slide-shadow: #bcb5bd;
$slide-shadow-next: #e5dfea;
